<div class="m-3">
  <div class="box">
    <h1 class="card-header-title is-size-3">{{ "APP.TITLE" | transloco }}</h1>
    <!-- passwordLength -->
    <div class="field">
      <div class="control">
        <label class="label" for="passwordLength">{{
          "APP.LABEL_LENGTH" | transloco
        }}</label>
        <input
          class="input is-primary"
          id="passwordLength"
          type="number"
          (input)="onChangeLength($event)"
        />
      </div>
    </div>
    <!-- useLetters -->
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox" (change)="onChangeUseLetters()" />
          {{ "APP.CHECKBOX_USE_LETTERS" | transloco }}</label
        >
      </div>
    </div>

    <!-- useNumbers -->
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox" (change)="onChangeUseNumbers()" />
          {{ "APP.CHECKBOX_USE_NUMBERS" | transloco }}
        </label>
      </div>
    </div>
    <!-- useSymbols -->
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox" (change)="onChangeUseSymbols()" />
          {{ "APP.CHECKBOX_USE_SYMBOLS" | transloco }}</label
        >
      </div>
    </div>

    <!-- generate password -->
    <div class="control">
      <button
        class="button is-primary"
        (click)="onGeneratePassword()"
        [disabled]="
          !(
            passwordLength !== 0 &&
            (includeLetters || includeNumbers || includeSymbols)
          )
        "
      >
        {{ "APP.BUTTON_GENERATE" | transloco }}
      </button>
    </div>
  </div>

  <div class="box" *ngIf="generatedPassword">
    <div class="field">
      <div class="control">
        <label class="label" for="output">{{ "APP.OUTPUT" | transloco }}</label>
        <input
          class="input is-info"
          id="output"
          type="text"
          readonly
          [value]="generatedPassword"
        />
      </div>
    </div>
    <div class="control">
      <button class="button is-warning" (click)="onResetPassword()">
        {{ "APP.BUTTON_RESET" | transloco }}
      </button>
    </div>
  </div>
</div>
